SEPProjects/Portal/Portal/Service References/CachedWorkItemsRef/ESPServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8888/ESPServer?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ESP.Entity" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfKeyValueOfstringArrayOfTaskItemInfo5bXM23zQty7Ep6D1">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfKeyValueOfstringArrayOfTaskItemInfo5bXM23zQty7Ep6D1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfstringArrayOfTaskItemInfo5bXM23zQ" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfKeyValueOfstringArrayOfTaskItemInfo5bXM23zQty7Ep6D1" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfKeyValueOfstringArrayOfTaskItemInfo5bXM23zQty7Ep6D1" />
  <xs:complexType name="ArrayOfKeyValueOfstringArrayOfTaskItemInfo5bXM23zQ">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfTaskItemInfo5bXM23zQ">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ESP.Entity" name="Value" nillable="true" type="q1:ArrayOfTaskItemInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringArrayOfTaskItemInfo5bXM23zQ" nillable="true" type="tns:ArrayOfKeyValueOfstringArrayOfTaskItemInfo5bXM23zQ" />
</xs:schema>