SEPProjects/Portal/Portal/Service References/CachedWorkItemsRef/ESPServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ESP.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ESP.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaskItemInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskItemInfo" nillable="true" type="tns:TaskItemInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskItemInfo" nillable="true" type="tns:ArrayOfTaskItemInfo" />
  <xs:complexType name="TaskItemInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicantID" type="xs:int" />
      <xs:element minOccurs="0" name="ApplicantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppliedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ApproverID" type="xs:int" />
      <xs:element minOccurs="0" name="ApproverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApproversUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormID" type="xs:int" />
      <xs:element minOccurs="0" name="FormNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskItemInfo" nillable="true" type="tns:TaskItemInfo" />
</xs:schema>